.sidebar {
  width: 60px;
  background-color: #4e5ee4;
  height: 100vh;
  padding: 1rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
}

.sidebar li {
  margin: 1.5rem 0;
  font-size: 1.5rem;
  cursor: pointer;
}

.sign-out-btn {
  margin-bottom: 1rem;
  padding: 0.5rem;
  color: white;
  background-color: #3a49b5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  width: 80%;
}